*{
    margin: 0px;
    padding: 0%;
}

.title{
    text-shadow: -2px 0px 9px white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.items{
    display:flex;
    flex-direction:row;
}
/* first child */
.image_selector{
    flex:1 1 auto;
    margin: 5% 1%;
    background-color:white;
    /* border-radius: 2%;      */
    width: 500px;
    /* float:left; */
}
.image-box{
    background-color:blueviolet;
    border-radius: 10%;
    height: 60px;
    width: 60px;
    margin:5% 5%;
    display: inline-block;
    overflow: hidden;
    box-shadow: 1px 2px 15px 0px;
}

.img{
    width: 100%;
    height: 100%; 
    /* object-fit: contain; */
    object-fit: cover;
}

.material-icons{
    color:white;
    font-size: 60px!important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image_input{
    display: None;
}
/* second child */
.image_viewer{
    flex:1 1 auto;
    /* background-color:white; */
    /* float:right; */
    /* height: 300px; */
    width: 50vw;
    margin-right: 100px;
}

.image{
    width: 100%;
    height: 100%; 
    object-fit: contain;
    /* object-fit: cover;    */
}


.color-pallete{
    background-color:white; 
    margin-top: 5%;
    /* height: 30px; */
}

.new{
    background-color:rgb(153, 146, 146); 
    /* height: 30px; */
    /* clear:both; */
}


.colors
{
    width: 50px;
    height: 50px;
    margin: 10px 30px;
    text-shadow: -2px 0px 9px white;
    display: inline-block;
}

.colors:hover{
    box-shadow: 4px 2px 18px -2px black;
    transition: 0.4s;
}


.K{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color:white;
}

.numofcolors{
    display: inline;
    size:20px;
}







@media screen and (max-width: 600px) {
    .items{
        display:block;
    }
    .image_selector{
        width:100%;
    }
    
    .image-box{
        height: 20px;
        width: 20px;
        margin:2% 2%;
    }
    .material-icons{
        font-size: 20px!important;
    }
    .image_viewer{
        margin-left: auto;
        margin-right: auto;
    }
  }
  