<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Pallete Generator</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <!-- <script src="{{ url_for('static',filename='script.js' ) }}"></script> -->

    <h1 class='title'>Color Pallete Generator</h1>
    <div class="items">
        <div class="image_selector">
            <div class="image-box">
                <img class="img" src="{{ url_for('static',filename='assets/img4.jpg' ) }}">
            </div>
            <div class="image-box">
                <img class="img" src="{{ url_for('static',filename='assets/img10.jpg' ) }}">
            </div>
            <div class="image-box">
                <img class="img" src="{{ url_for('static',filename='assets/img11.jpg' ) }}">
            </div>
    
            <div class="image-box add_image">
                
                <label for="file-input">
                <i class="material-icons">add</i>
            </label>
            <input id="file-input" class="image_input" type="file" accept="image/*">
    
            </div>
            
            <div class="K">
                <h2 style="display: contents;">number of colors: </h2>
                <input class="numofcolors" type="text" value="6">
            </div>
            
        </div>
        
    
        <div class="image_viewer">
            <img class="image">
        </div>
    </div>
    

    <div class="new"></div>
    <div class="color-pallete"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static',filename='script.js' ) }}"></script>
    
</body>
</html>


